<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
	 <!-- import Google font -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'/>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
		<div class="panel panel-default selectable-item" 
				onclick="showEntry([{name:'id', value:'${entity.id}'}])" 
				data-toggle="modal" 
				data-target="#basicExampleModal">
			<div class="panel-body">
				
				  <div style="font-size:8px;" onclick="immediate(event);"><a id="panelItemURI" href="${entity.uri}" class="text-break-all" target="_blank">${entity.uri}</a></div>
				
			      <#if entity.image?has_content>
					 <img src="${entity.image}" style ="width: 100%;max-width: 200px" alt="${entity.label}" onerror="this.style.display='none'; fixLayout();">
				  </#if>
				  <div class="caption">
					<h3>${entity.label}</h3>
					<p>${entity.description}</p>
				  </div>
			</div>
		 </div>						
  </body>
</html>