#toTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 64px;
    height: 64px;
    background-image: url('./up.png');
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
#toTop:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.modal-fullscreen {
	padding: 0 !important; 
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.hide {
	display: none;
}

.pace .pace-progress {
	background: #29d;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}

.label-column {
	text-align: right;
	white-space: nowrap;
	width: 20%;
	font-size: small;
	font-weight: bold;
}

.label-column-result {
	text-align: right;
	font-size: small;
}

.value-column-result {
	text-align: left;
	font-size: small;
}

.fa {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.fa:hover {
    opacity: 0.7;
}

.fa:link {
    text-decoration: none;
}

.snippet-footer {
    color: grey;
    font-size: xx-small;
    padding: 5px;
    background-color: inherit;
    border-top: 0.5px solid #f5f5f5;
    text-align:right;
}

.snippet-heading {
	border-top: 0.5px solid #f5f5f5;
	font-size: smaller;
	color: slategrey;
	padding: 10px;
	padding-bottom:5px;
}

.value-column {
	font-size: small;
	text-align: left;
}

.value {
	padding-bottom: 2px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
	border: none;
	font-weight: normal;
}

.table-snippet {
	width: -webkit-fill-available;
    margin-bottom: 0px;
}

.table-snippet>tbody>tr>td, 
.table-snippet>tbody>tr>th, 
.table-snippet>tfoot>tr>td, 
.table-snippet>tfoot>tr>th, 
.table-snippet>thead>tr>td, 
.table-snippet>thead>tr>th {
    border-top: 0.5px solid #fbfbfb;
    padding: 0px;
	padding-right:8px;
	padding-left:8px;
}

.grid-sizer {
  width:  30%;
}

.grid-item {
  min-width:30%;
  max-width:60%;
  padding:10px;
}

.grid-item-large {
  min-width:400px;
  width:60%;
  padding:2px;
}

.selectable-item:hover {
  background: rgb(200, 214, 229);
  cursor: pointer;
}

a {
  cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.selectable-item {
	margin-bottom: 0px;
}

.selectable-item:active {
  background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
  cursor: pointer;
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.search-bar {
	-webkit-box-shadow: 0px 0px 9px -3px #000000;
  		box-shadow: 0px 0px 9px -3px #000000;
}

.search-panel {
	font-size: 30px;
}

.info-button {
	border-color: #68a9ee; 
}

.info-panel {
	background-color: #fcfcfc; 
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
	  
.modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
}

.modal-open {
	padding-right: 0px !important;
}

.modal {
	padding: 0px !important;
}

.autocomplete-item-style .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border-radius: unset!important;
	-webkit-border-radius: unset!important;
	color: #333;
    text-shadow: none;
    background: #e0f1ff;
}


.autocomplete-item-style {
	border-radius: unset!important;
	border: none;
	-webkit-border-radius: unset!important;
	color: #333;
    text-shadow: none;
    font-weight: unset!important;
}

.autocomplete-panel-style .ui-autocomplete-item {
	border-radius: unset!important;
	border: none;
	-webkit-border-radius: unset!important;
	color: #333;
    text-shadow: none;
}

.ui-autocomplete-multiple-container {
	width: auto;
	box-shadow: none;
    border: none;
    padding: 8px;
}

.search-bar .ui-autocomplete-multiple-container.ui-inputfield {
	padding: 20px;
}

.search-bar .ui-inputfield {
	font-size: 18px;
	font-weight: unset!important;
}

.ui-autocomplete-token {
	background:aliceblue;
}

.search-bar .ui-inputfield.ui-state-focus {
	box-shadow: none;
}

.search-bar .ui-inputfield.ui-state-active {
	font-weight: unset;
}

.autocomplete-panel-style {
	 width: 100%!important;
 	 padding-left:0px;
 	 border: none;
 	 left:0px!important;
 	 border-radius: unset;
 	 box-shadow:0 5px 10px -10px rgba(0,0,0,0.8);
}

.ui-autocomplete-input-token {
	width: 100%;	
}

#searchInputQuery_input {
	width: 100%;
}

.sidebar-upper-panel {
	margin-bottom: 0px;
}

.sidebar-tag-panel {
    padding-top: 15px;
    padding-bottom: 15px;
}

.xxsmall-font {
	font-size: 8px;
}

.lightgray-color {
	color: lightgray;
}

.inline-component {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.inline-component-left {
	padding-right: 10px;
}

.tag-list {
	border: none;
}

.tag-list .ui-datalist-content {
	border: none;
}

.no-border {
	border: none;
}

.no-padding-top {
	padding-top: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}